#clock {
	font-size: 1em;
}

/* Control the label FONT above the timeline bars */
#rate-bars-label {
	margin-top: 5px;
	margin-bottom: 20px;

	font-size: 1em;
	font-weight: bold;
}

/* Format each equivalency-rate bar as a group */
.rate-bars {
	height: 1em;
	float: left;
}

/* Set each bar's color individually; add more CSS if you add more time blocks */
/* LIGHT GREEN */
#block0 {
	background-color: #40d351;
}

/* MEDIUM GREEN */
#block1 {
	background-color: #2e973a;
}

/* DARK GREEN */
#block2 {
	background-color: #216C2A;
}

/* MEDIUM GREEN */
#block3 {
	background-color: #2e973a;
}

/* Control the FONT surrounding the timeline bars */
.timeText {
	margin-top: -1.5em;
	margin-left: 5px;	/* Some space makes it look better */

	font-size: 0.75em;
	font-weight: bold;
}

.timeText-right {
	margin-top: -3.0em;

	font-size: 0.75em;
	font-weight: bold;
	float: right;
}

.priceText {
	margin-left: 5px;

	color: white;
	font-size: 0.75em;
}

/* Formatting concerning the "Menu" button */ 
.menu {
	font-weight: bold;
	float: right;
}

.menu:hover {
	text-decoration: underline;
}